$red: rgb(220, 0, 0);
$red-hover: rgb(180, 20, 20);
$normal-blue: #0000ff;
$blue: rgb(30, 30, 185);
$white: #ffffff;

button:active {
  opacity: 0.6;
}

.subscribe-button {
  background-color: $red;
  color: $white;
  border: none;
  height: 50px;
  width: 160px;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.25s;
}
.subscribe-button:hover {
  background-color: $red-hover;
}

.join-button {
  background-color: $white;
  border-color: $blue;
  border-style: solid;
  color: $blue;
  border-width: 1px;
  height: 50px;
  width: 70px;
  border-radius: 10px;
  cursor: pointer;
}

.join-button:hover {
  background-color: $blue;
  color: $white;
  transition: background-color 0.25s, color 0.25s;
}

.tweet-button {
  background-color: $normal-blue;
  color: $white;
  border: none;
  height: 60px;
  width: 120px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  margin-left: 10px;
}
